body {
  background-image: url('https://cdn.hipwallpaper.com/i/76/99/EigCfO.jpg');
  background-size: cover;
}

.container {
  margin-top: 50px;
}

.player {
  max-width: 350px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(135deg, #ff3c00 0%, #d900c6 100%);
  box-shadow: 0 0 0px 5px #9612756c;
}

.player .cover img {
  width: 100%;
}

.player .meta .title {
  text-align: center;
  padding: 10px 0;
  color: white;
}

.player .controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px 0;
}

.player .controls .control-button {
  margin-right: 5px;
  border-radius: 100px;
  width: 45px;
  height: 45px;
  padding: 0;
  background: linear-gradient(135deg, #17dbfe 0%, #4d12bc 100%);
  border: 0;
}

.player .controls .control-button i.fa {
  font-size: 12px;
  transform: translateY(-2px)
}

.player .controls .control-button:last-child {
  margin-right: 0;
}

.btn-transparent {
  background: transparent !important;
  border: 0 !important;
}

.player .controls .playlist-action {
  font-size: 12px;
  width: 35px;
  height: 35px;
}

.player .top .cover img {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .5);
  z-index: 2;
}

.player .seekbar .progress {
  height: 5px;
  border-radius: 0;
  background: #00000045;
}

.player .controls .play-button {
  width: 55px;
  height: 55px;
  height: 55px;
  background: linear-gradient(135deg, #ee20d6 0%, #0a2fb6 100%);
}

.player .seekbar .progress .progress-bar {
  height: 5px;
  background: linear-gradient(135deg, #CE9FFC 0%, #7367F0 100%);
}

.player .library-control {
  border-radius: 0;
  font-size: 14px;
}

.player .library-control {
  display: flex;
  align-items: center;
  justify-content: stretch;
  margin-top: 20px;
}

.player .library-control button {
  font-size: 14px;
  background: transparent;
  border: 0;
  flex: 1;
  padding: 10px 0;
  cursor: pointer;
  background-color: #fff;
}

.player .library-control button.active {
  background: transparent !important;
  color: white;
}

.player .library-control button.active:focus {
  outline: none;
}

.player .playlist .list-group {
  border-radius: 0 0 5px 5px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 253px;
}

.player .playlist .list-group .list-group-item {
  border-radius: 0;
  padding: 10px 10px;
  font-size: 14px;
  white-space: nowrap;

  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 0;
}

.player .list-group .list-group-item span:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player .list-group .list-group-item span:nth-child(1),
.player .list-group .list-group-item span:nth-child(3) {
  white-space: inherit;
  overflow: inherit;
  text-overflow: inherit;
}

.player .list-group[aria-labelledby="playlist-tab"] .list-group-item {
  flex-wrap: wrap;
}

.player .playlist .list-group .list-group-item .playlist-content {
  margin-top: 5px;
  width: 100%;
}

.player .playlist .list-group .list-group-item .playlist-content .list-group {
  display: block;
}

.player .playlist .list-group .list-group-item span.playlist-content {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.player .playlist .list-group .list-group-item span.playlist-content.expanded {
  visibility: visible;
  height: auto;
  overflow: auto;
}

.player .playlist .list-group .list-group-item span.playlist-content.expanded
  .list-group-item {
    flex-wrap: nowrap;
  }

.player .playlist .list-group .list-group-item span.playlist-content.expanded
  .list-group-item span:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player .playlist .list-group::-webkit-scrollbar {
  width: 6px;
}

.search-control {
  display: block;
}

.search-control .search-field {
  padding: 0 !important;
}

.search-control .search-field input {
  border: 0;
  border-radius: 0;
}

.search-control .search-field input:focus {
  outline: none !important;
}

.search-control .list-group-item {
  justify-content: flex-start !important;
}

/* Track */
.player .playlist .list-group::-webkit-scrollbar-track {
  background: white;
  width: 5px;
}

/* Handle */
.player .playlist .list-group::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #F36265 0%, #961276 100%);
}

.drag-handle {
  opacity: .5;
  cursor: move !important;
}

.player .top .cover {
  position: relative;
}

.player .top .cover .backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: 150%;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

[role="tablist"] .fa {
  margin-right: 5px;
}

@media only screen and (max-width: 480px) {
  .container {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .player {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: unset;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
  }

  .player .bottom {
    position: relative;
    width: 100%;
    overflow: auto;
  }

  .player .playlist .list-group {
    max-height: max-content;
    border-radius: 0;
  }

  .player .top {
    margin-bottom: 15px;
    height: inherit;
    flex: 1;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }

  .player .bottom {
    flex: 2;
  }

  .library-control {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    margin-top: 0 !important;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, .5)
  }

  .player .library-control button.active {
    color: palevioletred;
  }

  .player .cover {
    width: 40%;
    padding: 20px;
    flex: 1;
  }

  .player .meta {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 2;
    padding: 0 20px 0 0;
  }

  .player .meta .seekbar {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .player .controls {
    max-height: 90px;
  }

  .player .top .controls {
    width: 100%;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) and (orientation: landscape) {
  .container {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    max-width: unset;
  }

  .player {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: unset;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
  }

  .player .top,
  .player .bottom {
    flex: 1;
  }

  .player .playlist .list-group {
    max-height: max-content;
    border-radius: 0;
  }

  .player .bottom {
    position: relative;
    width: 100%;
    overflow: auto;
  }

  .library-control {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: white;
    margin-top: 0 !important;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, .5)
  }

  .player .library-control button.active {
    color: palevioletred;
    border-radius: 0;
  }

  .player {
    border-radius: 0;
  }

  .player .top {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, .25)
  }

  .player .top .cover {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }

  .player .top .cover img {
    position: absolute;
    width: 100%;
  }
}
